DATABASE_URL=postgresql://user:password@localhost:5432/pfsupperclub

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

IRON_SESSION_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=

RESEND_API_KEY=
FROM_EMAIL=
S3_BUCKET=

NEXT_PUBLIC_BASE_URL=
CRON_SECRET=
