DATABASE_URL=postgresql://user:password@localhost:5432/pfsupperclub

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

IRON_SESSION_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_SES_FROM_EMAIL=
AWS_S3_BUCKET=
